body{
	background-image: url("../images/bg.jpg") !important;
	/*background-color: blue;*/
}

h2{
	align: center;
}

.match{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.wellcenter{
	text-align: center;
}

.well{
	padding: 0px 20px;
	height: 250px;
}

