body{
	background: url("/assets/images/bg.jpg")  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
}

h2{
	align: center;
}

.battlenav{
	margin-bottom: 80px !important;
}

.battlebox{
	margin:40px;
	padding:10px;
	display: flex;
	justify-content: center;
}

.opponentbox{
	display: flex;
	justify-content: left;
}

.playerbox{
	display: flex;
	justify-content: right;
}

.match{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.wellcenter{
	text-align: center;
}

.well{
	height: 250px;
	width: 100%;
}

#score{
	height: 125px !important;
	font-size: 20px;
}

/*battle and swipe*/

.swiperbody { 
background: url("/assets/images/bg.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: 100% 100%;
}

.battlebody { 
background: url("/assets/images/bg.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: 100% 100%;
}

#h3swag{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#player{
	height:300px;
}

#opponent{
	height: 300px;
}

#console {
  font-size: 12px;
  font-family:"Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #999;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}

#imgswipe{
	width:400px;
}

#mySwipe div b {
  display:block;
  font-weight:bold;
  font-size:20px;
  text-align:center;
  padding: 80px 0px 0px 0px;
  box-shadow: 0 1px #EBEBEB;
  background: opacity:0.5;
}
