<!DOCTYPE HTML> 
<html>
<head>
<title>Swipe!</title>
<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/> 
<link href='/assets/css/style.css' rel='stylesheet'/>
<style>
/* Swipe 2 required styles */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
/* END required styles */
</style>

</head>
<body class="swiperbody">

  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a  href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/180122/43da7f651c93970f1dc39b9430fc5a36.png" alt="pokemon-font" border="0"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">Home</a></li> -->
              <!-- <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {{!-- <li><a href="/signin">Login</a></li> --}}
              <li class="active"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

<div class="container">

    <div class="row">

      <div id='mySwipe' style='max-width:500px;margin:0 auto' class='swipe'>
        <div class='swipe-wrap'>
          <div><b><img src="/assets/images/firecard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/grasscard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/watercard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/firecard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/watercard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/firecard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/grasscard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/watercard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/watercard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/grasscard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/firecard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/firecard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/watercard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/grasscard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/firecard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/watercard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/firecard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/grasscard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/firecard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/firecard.png" id="imgswipe"></b></div>
          <div><b><img src="/assets/images/firecard.png" id="imgswipe"></b></div>
        </div>
      </div>

    </div>

    <div class="row">

      <div style='text-align:center;padding-top:20px;'>
        
        <button onclick='mySwipe.prev()'>prev</button> 
        <button onclick="location.href = '/battle';">BATTLE</button>
        <button onclick='mySwipe.next()'>next</button>

      </div>

    </div>

</div>




<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src='/assets/js/swipe.js'></script>
<script>
// pure JS
var elem = document.getElementById('mySwipe');
window.mySwipe = Swipe(elem, {
  // startSlide: 4,
  // auto: 3000,
  // continuous: true,
  // disableScroll: true,
  // stopPropagation: true,
  // callback: function(index, element) {},
  // transitionEnd: function(index, element) {}
});
// with jQuery
// window.mySwipe = $('#mySwipe').Swipe().data('Swipe');
</script>